<nav class="navbar-container d-flex align-items-center px-4">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-columns-gap me-2"></i>Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/balizas" routerLinkActive="active">
        <i class="bi bi-broadcast me-2"></i>Balizas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-producto" routerLinkActive="active">
        <i class="bi bi-plus-circle-fill me-2"></i>Añadir Producto
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/configuracion" routerLinkActive="active">
        <i class="bi bi-gear-fill me-2"></i>Configuración
      </a>
    </li>
  </ul>
</nav>